@{
    ViewBag.Title = "NoResults";
    Layout = null;
}
<div class="alert alert-danger" role="alert">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    @ViewBag.Error
</div>
