@{
    ViewBag.Title = "Success";
    Layout = null;
}
<div class="alert alert-success" role="alert">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    @ViewBag.Success
</div>
