@{
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
    ViewBag.Title = "Home";
}

<div class="container" style="text-align: justify;">
    <div class="pull-right">
        <h5>Ultima actualización 18/Ene/2017</h5>
    </div>
    <br />
    <center>
        <h1>Aviso de privacidad</h1>
    </center>
    <p>
        <b>
            Introducción
    </p></b>
    <p>
        OurPlace es un sistema de administración de conjuntos habitacionales tales como edificios, condominios, fraccionamientos, torres de departamentos, etc. Los usuarios (residentes de dicho conjunto habitacional) deben registrarse a través de la aplicación para poder utilizar las características del producto.
    </p>
    <p>
        <b>
            Recopilación de la información
    </p></b>
    <p>

        Como usuario de la aplicación, es necesario que usted proporcione información personal para utilizar el producto. Esta aplicación sólo recopila información personal que es específica y voluntariamente proporcionada por los residentes. Dicha información puede consistir en, su nombre, su correo electrónico, y opcionalmente sus números de teléfono.
        Nosotros no solicitamos información sensible (por ejemplo, los datos relacionados con la raza o el origen étnico, las creencias religiosas, antecedentes penales, salud física, mental, o la orientación sexual) de los usuarios.
    </p>
    <p>
        <b>
            Uso de la información
    </p></b>
    <p>
        La información recopilada se utiliza con fines de identificarlo como residente del conjunto habitacional, y así poder tener acceso a las diferentes características de la aplicación. En estos casos, su información estará limitada para su uso y visualización al conjunto habitacional al que pertenece y a las personas designadas a la administración del conjunto abitacional que se encarga de administrar los saldos de las viviendas, así como autorizar y rechazar las operaciones realizadas por usted dentro de la aplicación.
    </p>
    <p>
        <b>
            Divulgación de información a terceros
    </p></b>
    <p>
        OurPlace no divulga su información a ningun tercero, toda la información recopilada se encuentra centralizada, resguardada y asignada únicamente para su uso y visualización en el ambiente del conjunto habitacional al que pertenece.
    </p>
    <p>
        <b>
            Seguridad de la información
    </p></b>
    <p>
        Tenemos implementados estándares comerciales de tecnología y seguridad operacional para proteger a nuestros usuarios registrados de accesos no autorizados, revelación, alteración o destrucción toda la información proporcionada.
    </p>
    <p>
        <b>
            Cambios a nuestro Aviso de Privacidad
    </p></b>
    <p>
        Podremos modificar o enmendar este Aviso de Privacidad de vez en cuando, de forma discrecional. Cuando hagamos cambios a este, se actualizará la fecha de revisión en la parte superior de esta página, y esa modificación o enmienda será efectiva para usted y su información a partir de la fecha de actualización. Le recomendamos que revise periódicamente este Aviso de Privacidad para estar informado acerca de cómo estamos protegiendo su información.
    </p>
    <p>
        Si usted tiene alguna pregunta o inquietud con respecto a su privacidad durante el uso de esta aplicación, por favor contactenos en soporte@ourplace.lat
    </p>
</div>
