@{
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
    ViewBag.Title = "Home";
}

<div class="container">
    <div class="row">
        <div class="row">
            <h2>Características del Panel de Control</h2>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-info">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6" style="vertical-align:central">
                                <br />
                                <img width="100%" src="~/Content/img/dashboard.png" style="margin-left:0" />
                            </div>
                            <div class="col-md-6">
                                <div><div><span class="text-success glyphicon glyphicon-ok"></span> <b>Control de Residencias y Residentes.</b> Con OurPlace sabrás en todo momento cuántos residentes interactúan con la apicación, tendrás toda su información disponible, podrás aprobar/rechazar nuevos residentes y mucho más.</div></div>
                                <br />
                                <div><div><span class="text-success glyphicon glyphicon-ok"></span> <b>Calendario de Eventos.</b> Publica noticias y eventos importantes para la comunidad, proyectos nuevos y sus avances, publica reuniones y agrega fotografías para generar mayor impacto.</div></div>
                                <br />
                                <div><div><span class="text-success glyphicon glyphicon-ok"></span> <b>Administración de Ingresos y Egresos.</b> Controlar las CXC y las CXP nunca fue tan fácil. Deja que nosotros nos encarguemos de la contabilidad con cargos y gastos programados, recurrentes, extraordinarios, cortes diarios y mensuales. Genera estados de cuenta de las cuentas de la comunidad o de los resientes.</div></div>
                                <br />
                                <div><div><span class="text-success glyphicon glyphicon-ok"></span> <b>Votaciones y Encuestas.</b> Diseña fácilmente encuestas y votaciones para cononer la opinión de los residentes. Publicalas con un click y espera los resultados y retroalimentación de la comunidad.</div></div>
                                <br />
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-6">
                                <div><div><span class="text-success glyphicon glyphicon-ok"></span> <b>Administración de Áreas Comunes.</b> Controla las instalaciones y áreas comunes de la comunidad a través de reservaciones hechas por el mismo residente en la aplicación. Aprueba los eventos en las fechas y horarios permitidos en el reglamento. Además, OurPlace cuenta con un mecanismo de revisión de horarios que evita que las reservaciones se traslapen, así será más fácil administrarlos.</div></div>
                                <br />
                                <div><div><span class="text-success glyphicon glyphicon-ok"></span> <b>Notificaciones.</b> OurPlace cuenta con mecanismos de envíos automáticos de notificaciones ante eventos realizados por ti (aprobaciones y rechazos), sobre demanda (envío masivo de notificaciones) y de generación programada (recordatorios de pago, avisos, etc.). Todo esto utilizando plantillas configurables.</div></div>
                                <br />
                                <div><div><span class="text-success glyphicon glyphicon-ok"></span> Y mucho, mucho más...</div></div>
                                <br />

                            </div>
                            <div class="col-md-6" style="vertical-align:central">

                                <img width="100%" src="~/Content/img/edo_cta.png" style="margin-left:0" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <h2>Características de la App de Residentes</h2>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-info">
                <div class="panel-body">
                    <div class="col-md-3">
                        <img height="200px" src="~/Content/img/noticias.png" style="margin-left:0" />
                    </div>
                    <div class="col-md-9">
                        <h3 class="text-info">Eventos y Noticias</h3>
                        <div>Enterate de lo que sucede en tu comunidad. Con OurPlace, los administradores pueden publicar las noticias más importantes para ti y tus vecinos. Mantente al día sobre proyectos nuevos y sus avances. Conoce las fechas y horarios de los eventos más relevantes y sus detalles. Con OurPlace, no te perderás de nada.</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-info">
                <div class="panel-body">
                    <div class="col-md-3">
                        <img height="200px" src="~/Content/img/pagos.png" style="margin-left:0" />
                    </div>
                    <div class="col-md-9">
                        <h3 class="text-info">Registro de Pagos</h3>
                        <div>Reportar tus pagos nunca fue tan fácil. Con OurPlace puedes pagar en línea* tus cuotas mensuales o enviar tu comprobante de depósito utilizando la cámara de tu dispositivo. Además puedes revisar tus movimientos para conocer tu saldo actual en todo momento</div>
                        <br />
                        <br />
                        <div style="font-size:10px;">* Aplica para México, proximamente Colombia y Chile...</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-info">
                <div class="panel-body">
                    <div class="col-md-3">
                        <img height="200px" src="~/Content/img/anuncios.png" style="margin-left:0" />
                    </div>
                    <div class="col-md-9">
                        <h3 class="text-info">Anuncios Clasificados</h3>
                        <div>¿Quieres comprar algo? ¿Quieres vender algo? ¿Quieres publicar un servicio? ¿Rentas tu casa? Con OurPlace puedes publicar y buscar anuncios clasificados por categoría y podrás contactar al vendedor. Todo, al alcance de un <i>tap</i></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-info">
                <div class="panel-body">
                    <div class="col-md-3">
                        <img height="200px" src="~/Content/img/votaciones.png" style="margin-left:0" />
                    </div>
                    <div class="col-md-9">
                        <h3 class="text-info">Votaciones y Encuestas</h3>
                        <div>Opina y participa en las decisiones de la comunidad con la sección de Votaciones y Encuestas, revisa los resultados para conocer la opinión de tus vecinos, en OurPlace promovemos la comunidad transparente.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-info">
                <div class="panel-body">
                    <div class="col-md-3">
                        <img height="200px" src="~/Content/img/reservaciones.png" style="margin-left:0" />
                    </div>
                    <div class="col-md-9">
                        <h3 class="text-info">Reservación de Áreas Comunes</h3>
                        <div>Con la sección de reservacíón de áreas comunes de OurPlace, podrás solicitar fácilmente alguna de las instalaciones de la comunidad. Conoce en línea los espacios, fechas y horas disponibles para hacer de tu evento un éxito.</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-info">
                <div class="panel-body">
                    <div class="col-md-3">
                        <img height="200px" src="~/Content/img/panico.png" style="margin-left:0" />
                    </div>
                    <div class="col-md-9">
                        <h3 class="text-info">Botón de Pánico</h3>
                        <div>OurPlace cuenta con un botón de pánico que dará aviso de manera silenciosa a los residentes, la caseta o las autoridades cuando te encuentres en algún peligro o ante cualquier emergencia. En OurPlace, tu seguridad y la de los tuyos es nuestra prioridad</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div>* Aplica sólo para México, próximamente Colombia y Chile</div>
    </div>
</div>