@{
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
    ViewBag.Title = "Home";
}

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h4>Contactanos</h4>
                </div>
                <div class="panel-body">
                    @Html.Partial("PartialContacto")
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-info" style="background-color:#d9edf7">
                <div class="panel-body">
                    <div class="text-info">
                        <h4>Ventas México</h4>
                    </div>
                    <div class="row">
                        <div class="col-md-1">
                            <span class="glyphicon glyphicon-phone-alt"></span>
                        </div>
                        <div class="col-md-8">+52 (844) 688 1019</div>
                    </div>
                    <div class="row">
                        <div class="col-md-1">
                            <span class="glyphicon glyphicon-phone"></span>
                        </div>
                        <div class="col-md-8">+52 (811) 516 5781 </div>
                    </div>
                    <div class="row">
                        <div class="col-md-1">
                            <span class="glyphicon glyphicon-envelope"></span>
                        </div>
                        <div class="col-md-8">ventasmexico@ourplace.lat</div>
                    </div>
                    <br />
                    <div class="text-info">
                        <h4>Ventas Colombia</h4>
                    </div>
                    <div class="row">
                        <div class="col-md-1">
                            <span class="glyphicon glyphicon-phone-alt"></span>
                        </div>
                        <div class="col-md-8">+57 (1) 526 3278</div>
                    </div>
                    <div class="row">
                        <div class="col-md-1">
                            <span class="glyphicon glyphicon-phone"></span>
                        </div>
                        <div class="col-md-8">+57 (318) 226 9746 </div>
                    </div>
                    <div class="row">
                        <div class="col-md-1">
                            <span class="glyphicon glyphicon-envelope"></span>
                        </div>
                        <div class="col-md-8">ventascolombia@ourplace.lat</div>
                    </div>
                    <br />
                    <div class="text-info">
                        <h4>Ventas Chile</h4>
                    </div>
                    <div class="row">
                        <div class="col-md-1">
                            <span class="glyphicon glyphicon-phone-alt"></span>
                        </div>
                        <div class="col-md-8">+56 (9) 7608 6685</div>
                    </div>
                    <div class="row">
                        <div class="col-md-1">
                            <span class="glyphicon glyphicon-envelope"></span>
                        </div>
                        <div class="col-md-8">ventaschile@ourplace.lat</div>
                    </div>
                    <br />
                    <div class="text-info">
                        <h4>Soporte</h4>
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <div><h4><span class="glyphicon glyphicon-envelope"></span>   soporte@ourplace.lat</h4></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
