@{
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
    ViewBag.Title = "Home";
}
<div style="margin: 0 auto; text-align: center">
    <img src="~/Content/img/logo.png" style="width:40%; height:40%" />
</div>
<div class="container">
    <div class="row">
        <center>
            <h1>El más moderno sistema de gestión</h1>
            <h1>de residencias</h1>
        </center>
    </div>
    @*<div style="margin: 0 auto; text-align: center">
        <img height="500px" src="~/Content/img/solucion.png" />
    </div>*@
</div>