@{
    ViewBag.Title = "Error";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h2 style="color:red">Error</h2>
        <h1 style="color:red">@ViewBag.Mensaje</h1>        
    </hgroup>
</body>
</html>
