@{
    ViewBag.Title = "Sesion Expirada";
    Layout = null;
}

<div class="ErrorContent">
    <div class="ErrorCode">Ocurrió un Error</div>
    <div class="ErrorMessage">@ViewBag.Mensaje</div>
</div>