@{
    ViewBag.Title = "UnderConstruction";
    Layout = null;
}

<div style="margin: 0 auto; text-align: center">
    <img height="500px" src="~/Content/Resources/Images/Construccion.png" />
</div>